
.row
  .col-lg-12
    .row.top20
      .col-lg-6.col-lg-offset-3
        %h2.center Sign up on Kora
        %hr

        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal top20", role: "form" }) do |f|
          - if resource.errors.any?
            .alert.alert-danger
              %p.bold= "#{pluralize(resource.errors.count, "error")} found:"
              - resource.errors.full_messages.each do |error|
                %div
                  %small
                    %i.fa.fa-times.fa-lg
                    = error

          .form-group
            = f.label :email, class: "col-lg-2 control-label"
            .col-lg-10
              = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"

          .form-group
            = f.label :password, class: "col-lg-2 control-label"
            .col-lg-10
              = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"

          .form-group
            = f.label :password_confirmation, "Confirm", class: "col-lg-2 control-label"
            .col-lg-10
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password"

          .center
            = f.submit "Sign up", class: "btn btn-primary btn-lg"

        = render "devise/shared/links"
