!!!
%html
  %head
    %title Kora - your best source of knowledge
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "layouts/nav" if user_signed_in?
    = render "layouts/flash"

    .container
      .row
        .col-lg-12
          = yield

